@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  background-color: #212529 !important;
  font-family: "Ubuntu", sans-serif !important;
}
.form-control {
  border-radius: 0 !important;
  color: white !important;
  background-color: #212529 !important;
  border: none !important;
  border-bottom: 2px solid white !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.frm {
  margin: 15px 0;
  background-color: #2b3035 !important;
  border: none !important;
}
.mtr {
  width: 1045px;
  padding: 15px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons 
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
*/
/* Extra styles for the cancel button */
.cancelbtn {
  margin: 0 10px 0 0;
  color: white;
  display: block;
  width: 210px !important;
  border-radius: 10px 0 10px 0;
  border: 0;
  outline: 0 !important;
  padding: 14px 20px;
  background-color: #d81b60;
}
.cancelbtn:hover {
  background-color: #a9134a;
  color: white;
}
.sbmbtn {
  color: white;
  display: block;
  width: 20% !important;
  border-radius: 10px 0 10px 0;
  border: 0;
  outline: 0 !important;
  padding: 14px 20px;
  background-color: #0087ff;
}
.sbmbtn:hover {
  background-color: #0a58ca;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
}
label {
  display: block !important;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}
h1 {
  font-weight: 900 !important;
}
/* The Modal (background) */
.modal {
  display: block !important; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  color: white !important;
  width: 100%; /* Full width */
  height: auto !important; /* Full height */
  overflow: overlay !important; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.76);
}

/* Modal Content/Box */
.modal-content {
  background-color: #212529 !important;
  color: white !important;
  margin: 5.5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 56% !important; /* Could be more or less, depending on screen size */
}
.clearfix {
  padding: 0 10px 20px 10px;
}
/* Style the horizontal ruler */
hr {
  width: 1045px;
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-lg-8 {
  padding: 0 !important;
}
.col-lg-8 h2 {
  margin-top: 10px;
}
